@import "./View/UI/ui";

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

#container {
 // position: relative;
  //margin: auto;
  position: absolute;
  width: 99%;
  height: 97%;
  margin: 0.5%;
  overflow: hidden;
}

#D3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black
}

#UI {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
}
