@import "./BuildingMenu/BuildingMenuMobile";
@import "./BuildingMenu/BuildingMenuPC";
div {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.picture {
  background-size: cover;
}

