@import "./BuildingMenu/BuildingMenuMobile";
@import "./BuildingMenu/BuildingMenuPC";
@import "./EditorPanel/EditorPanel";
@import "./MonitoringPanel/MonitoringPanelMobile";
@import "./MonitoringPanel/MonitoringPanelPC";
@import "./WorldmapMenu/WorldmapMenuMobile";
@import "./WorldmapMenu/WorldmapMenuPC";
@import "./EntityManagerPanel/EntityManagerPanelPC";
@import "./FirstStartPanel/FirstStartPanelPC";
@import "./LeaderCreationPanel/LeaderCreationPanelPC";
div {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.picture {
  background-size: cover;
}

.nodeOverlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}
