.firstStartPanel.pc {
  position: fixed;

  .panel{
    position: fixed;
    background: #9E9E9E;
    width: 600px;
    height: 300px;
    left: 50%;
    top: 5%;
    transform: translateX(-300px);
    .message {
      position: absolute;
      left: 5%;
      top: 70px;
      width: 90%;
      text-align: center;
    }

    .button {
      border: solid 1px black;
      background-color: grey;
      cursor: pointer;
      text-align: center;
      line-height: 40px;
      width: 40px;
      &:hover {
        background-color: #4444ff;
      }
    }

    .button.ok {
      position: absolute;
      bottom: 16px;
      right: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }

  &.hide {
    display: none;
  }
}
